@inherits LayoutComponentBase

<div class="page">
    <main class="d-flex justify-content-center align-items-center vw-100 vh-100">
        <article class="content p-4 bg-white text-black">
            @Body
        </article>
    </main>
</div>